<div class="footer">
  <div class="footer-links d-flex justify-content-between">
        <%= image_tag "rubber_duck_yellow.png" %>
        <%= image_tag "rubber_duck_yellow.png" %>
          <span>©️PocketZoo Corp<span id="contact_span"><a href="mailto:contact.PocketZoo@gmail.com">Contact Us</a></span></span>

        <%= image_tag "rubber_duck_yellow.png" %>
        <%= image_tag "rubber_duck_yellow.png" %>
  </div>
</div>
