<div class="footer">
  <div class="footer-links d-flex justify-content-between">
        <img src="/images/rubber_duck_yellow.png" alt="cute yellow duck">
        <img src="/images/rubber_duck_yellow.png" alt="cute yellow duck">
          <span>©️PoketZoo Corp<span id="contact_span"><a href="mailto:contact.PocketZoo@gmail.com">Contact Us</a></span></span>

        <img src="/images/rubber_duck_yellow.png" alt="cute yellow duck">
        <img src="/images/rubber_duck_yellow.png" alt="cute yellow duck">
  </div>
</div>
