.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #C4B810;
  transition: background 0.3s ease;
}
.btn-flat:hover {
  background: #C4B810;
  color: white;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  background-color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color: rgb(255, 98, 0);
  color: white;
}
