.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  opacity: 2.0;
  }

}
.card{
  border-radius: 50px !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    overflow: hidden;
  .card-body{
    background: #C4B810;
    height: 80%;
  }
  a {
    display: block;
  }

  img {
    height: 286px;
    width: 286px;
  }
  .card-avatar{
    width: 40px;
    border-radius: 50%;
    height: 40px;
  }
  &:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  color: black;
  opacity: 2.0;
  }
}
