
.footer {
  background: #000000;
  height: 75px;
  color: rgba(0,0,0,0.3);
  width:100%;
  padding:10px;
}

.footer-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  opacity: 0.8;
  font-size: 15px;
  display: inline-block;
  width:100%;
}


.footer-links a:hover {
  opacity: 1;
}

.footer img{
  height: 3rem;
  width: 3rem;
}
.footer span{
  color: rgb(255, 255, 255);
}


#contact_span{
  display: flex;
  justify-content: center;
  padding-left: 24px;
}
